#patpus{
    background: repeating-radial-gradient(purple 80%, pink);
    display: flex;
    flex-wrap: wrap;
}

@function bassfunc ($bass-name, $bass-spec, $spec){
    @return map-get(map-get(map-get($bassbass, $bass-name),$bass-spec),$spec);
}

@function bassamerican ($bass-name){
    @return map-get(map-get($bassbass, $bass-name),American);
}

$bassbass:(
    Fender:(
        strings:(
            4: '4',
            5: '5',
            6: '6',
        ),
        color:(
            1: beige,
            2: brown,
            3: red,
        ),
        American: true 
    ),
    MusicMan:(
        strings:(
            4: '4',
            5: '5',
            6: '6',
        ),
        color:(
            1: beige,
            2: brown,
            3: red,
        ),
        American: true
    ),
    Squire:(
        strings:(
            4: '4',
            5: '5',
            6: '6',
        ),
        color: (
            1: beige,
            2: brown,
            3: red,
        ),
        American: false
    )
); 

@mixin bassmix ($strings, $color, $american) {
    @if $american {
        border: dotted goldenrod 4px;
    } @else {
        border: dotted silver 4px;
    }
    content: $strings;
    background-color: $color;
    width: 400px;
    height: 100px;
    margin: 15px 10px 15px 10px;
}

#bass1{
    @include bassmix(bassfunc(Fender, strings, 4), bassfunc(Fender, color, 3), bassamerican(Fender));
}
#bass2{
    @include bassmix(bassfunc(Fender, strings, 6), bassfunc(Fender, color, 2), bassamerican(Fender));
}
#bass3{
    @include bassmix(bassfunc(MusicMan, strings, 5), bassfunc(MusicMan, color, 1), bassamerican(MusicMan));
}
#bass4{
    @include bassmix(bassfunc(MusicMan, strings, 6), bassfunc(MusicMan, color, 1), bassamerican(MusicMan));
}
#bass5{
    @include bassmix(bassfunc(Squire, strings, 4), bassfunc(Squire, color, 3), bassamerican(Squire));
}
#bass6{
    @include bassmix(bassfunc(Squire, strings, 4), bassfunc(Squire, color, 1), bassamerican(Squire));
}
#bass7{
    @include bassmix(bassfunc(Fender, strings, 5), bassfunc(Fender, color, 1), bassamerican(Fender));
}
#bass8{
    @include bassmix(bassfunc(Squire, strings, 4), bassfunc(Squire, color, 2), bassamerican(Squire));
}
